name: Teams Webhook Test

on:
 workflow_dispatch:

jobs:
 test-teams:
   runs-on: ubuntu-latest

   steps:
     - name: Print runner info
       run: uname -a

     - name: Show variable length
       run: |
         echo "Length of webhook url:"
         echo ${#TEAMS_WEBHOOK_URL}
       env:
         TEAMS_WEBHOOK_URL: ${{ vars.TEAMS_WEBHOOK_URL }}

     - name: Call Teams Webhook
       run: |
         URL="${{ vars.TEAMS_WEBHOOK_URL }}"
         ENV="qa"
         EXECUTION_TYPE="Smoke"
         STATUS="${{ job.status }}"
         RUN_URL="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"

         MESSAGE="### Emerald Automation Nightly Run \n
         **Status:** ${STATUS} \n
         **Environment:** ${ENV} \n
         **Execution Type:** ${EXECUTION_TYPE} \n
         **Run Link:** ${RUN_URL}"

         curl -X POST \
           -H "Content-Type: application/json" \
           -d "{\"text\": \"${MESSAGE}\"}" \
           "$URL"
